.calculateMortgage {
  margin-top: 60px;

  @media (min-width: 1024px) {
    margin-top: 100px;
  }

  &__title {
    margin: 0 0 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #274A3F;

    @media (min-width: 1024px) {
      font-size: 48px;
      margin: 0 0 45px;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-size: 16px;
    color: #274A3F;
    font-weight: 400;

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__item {
    margin: 0 0 10px;
    font-size: 16px;
    color: #274A3F;
    font-weight: 400;

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #274A3F;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      font-size: 28px;
    }
  }
}
