.statistics {
  margin: 0 -10px 30px;
  padding: 20px 10px;
  background-color: #274A3F;

  @media (min-width: 1024px) {
    margin: 0 -18px 50px;
    padding: 20px 18px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}
