.menuList {
  &__item {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
  }

  &__link {
    text-decoration: none;
    color: #FFFFEC;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
}
