.header {
  min-width: 320px;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #274A3F;
  position: fixed;
  z-index: 1000;

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
  }

  &__nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    position: relative;

    @media (min-width: 1024px) {
      justify-content: space-between;
    }
  }

  &__menu {
    background-image: url(../../images/menu.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__items {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      gap: 40px;
      align-items: center;
    }

    &--part1 {

      @media (min-width: 1024px) {
        flex-grow: 1;
        justify-content: end;
        display: flex;
        gap: 40px;
        position: absolute;
        left: 5%;
      }

      @media (min-width: 1350px) {
        left: 16%;
      }
    }

    &--part2 {

      @media (min-width: 1024px) {
        flex-grow: 2;
        justify-content: start;
        display: flex;
        gap: 20px;
        position: absolute;
        left: 55%;
      }
    }
  }

  &__logo {
    background-image: url(../../images/logo.svg);
    width: 80px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1024px) {
      width: 120px;
      height: 64px;
    }
  }

  &__contacts {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    position: absolute;
    right: 18px;

    @media (min-width: 1024px) {
      gap: 20px;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &--wp {
      background-image: url(../../images/wp.png);
      transition: transform 0.7s ease;

      @media (min-width: 1024px) {
        width: 50px;
        height: 50px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &--phone {
      background-image: url(../../images/phone.svg);

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__explanation {
    position: relative;

    &--act {
      display: flex;
      align-items: center;
      cursor: pointer;

      @media (min-width: 1024px) {
        &:hover .header__explanation--icon {
          color: #FFD700;
        }

        &:hover .item {
          color: #FFD700;
        }
      }
    }

    &--icon {
      color: #FFFFEC;
      transition: transform 0.5s ease;

      @media (min-width: 1024px) {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &--icon.open {
      transform: rotate(180deg);
    }

    &--dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #274A3F;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }

    &--list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: max-content;
    }

    &--item {
      border-bottom: 1px solid #eee;

      @media (min-width: 1024px) {
        padding: 10px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.menuList {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #274A3F;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease;

  &--hidden {
    transform: translateX(-100%);
  }

  &--active {
    top: 0;
    position: fixed;
    transform: translateX(0%);
    z-index: 4000;
  }
}

.button {
  position: fixed;
  z-index: 5;
  cursor: pointer;
  right: 18px;
  border: none;
  transition: transform 0.7s ease;

  &--wp {
    background-image: url(../../images/wpFix.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 70px;
    transition: transform 0.7s ease;

    @media (min-width: 1024px) {
      width: 70px;
      height: 70px;
      bottom: 90px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &--form {
    width: 120px;
    height: 40px;
    bottom: 20px;
    border-radius: 10px;
    background-color: #FFD700;
    color: #274A3F;
    font-weight: 500;
    transition: transform 0.7s ease;

    @media (min-width: 1024px) {
      width: 180px;
      height: 60px;
      font-size: 20px;
    }

    &:hover {
      background-color: #274A3F;
      color: #FFFFEC;
    }

  }

  &--phone {
    visibility: hidden;
    transition: transform 0.7s ease;

    @media (min-width: 1024px) {
      visibility: visible;
      width: 242px;
      height: 40px;
      background-image: url(../../images/phoneFix.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      top: 130px;
      text-decoration: none;
      color: #274A3F;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.number {
  @media (min-width: 1024px) {
    font-size: 25px;
    font-weight: 600;
    margin: 4px 0 0 10px;
  }
}

.form {
  width: 340px;
  height: 360px;
  background-color: #FFFFEC;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: -360px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease, bottom 0.5s ease;
  z-index: 4000;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: 1024px) {
    width: 500px;
    height: 600px;
    bottom: -600px;
    font-size: 30px;
  }


  &--hidden {
    bottom: -360px;

    @media (min-width: 1024px) {
      bottom: -600px;
    }
  }

  &--active {
    bottom: 0px;
  }

  &__title {
    margin: 10px 20px;
    text-align: center;
    color: #274A3F;
  }

  &__input {
    width: 240px;
    height: 30px;
    margin: 5px 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    color: #274A3F;
    font-size: 15px;
    padding-left: 10px;
    box-sizing: border-box;

    &--error {
      border: 1px solid red;
    }

    @media (min-width: 1024px) {
      width: 420px;
      height: 60px;
      margin: 7px 40px;
      font-size: 20px;
      padding-left: 15px;
    }

    &:focus {
      box-shadow: 0 0 5px 2px #274A3F;
      outline: none;
    }


    &--submit {
      color: #274A3F;
      background-color: #FFD700;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;

      @media (min-width: 1024px) {
        font-size: 25px;
      }

      &:hover {
        background-color: #274A3F;
        color: #FFFFEC;
      }
    }

    &:focus {
      border: 2px, solid;
      border-color: #274A3F;
      outline: none;
    }

    &::placeholder {
      color: #808080;
      font-size: 15px;

      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #274A3F;
  }
}

.cross {
  background-image: url(../../images/cross.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;

  &--menu {
    background-image: url(../../images/crossMenu.svg);
    right: 18px;
    top: 18px;
  }
}