.articles {
  margin-bottom: 80px;

  @media (min-width: 1024px) {
    margin-bottom: 100px;
  }

  &__title {
    margin: 0 0 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #274A3F;

    @media (min-width: 1024px) {
      font-size: 48px;
      margin: 0 0 45px;
    }
  }

  &__types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    @media (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 4px #274A3F;
    padding: 20px 8px;
    max-width: 400px;

    @media (min-width: 1024px) {
      padding: 30px 8px;
      // height: 620px;
    }

    &--height {
      height: 620px;
    }
  }

  &__photo {
    padding-bottom: 20px;
    width: 300px;
    height: 200px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      padding-bottom: 30px;
      width: 400px;
      height: 255px;
    }
  }

  &__subtitle {
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #FFD700;

    @media (min-width: 1024px) {
      padding-bottom: 30px;
      font-size: 22px;
    }
  }

  &__text {
    margin: 0 0 10px;
    padding: 10px 0;
    font-size: 16px;
    color: #274A3F;
    font-weight: 400;

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    color: #FFD700;

    @media (min-width: 1024px) {
      font-size: 22px;
    }
  }
}
